.hero {
	background-image: url('images/hero.png');
	@extend .backgrounds, .center, .box;
	height: 100vh;
	
		h1 {
		@extend .white;
		font-size: 54px;
		font-weight: 700;
		margin-top: 60px;
		letter-spacing: 4px;
	}
		.jumbo {
		@extend .white, .text-standard;
		margin-bottom: 160px;
	}
		.ellipse {
		margin-top: 150px;
	}
		.shape {
		margin-bottom: 50px;
	}
}